@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>测试</title>
         @Scripts.Render("~/bundles/modernizr")
         @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/JS/hashtable.js"></script>
    <script src="~/Content/JS/jquery.js"></script>
    <script src="~/Content/JS/flexiManage.js"></script>
    <script src="~/Content/JS/myajax.js"></script>
    <script src="~/Content/JS/public.js"></script>
    <script src="~/Content/JS/pageManagement.js"></script>
    <link href="~/Content/JS/flexigrid/flexiManage.css" rel="stylesheet" />
    <script src="~/Content/JS/flexigrid/flexiManage.js"></script>
    <link href="~/Content/OperationManagement/OperationManagement.css" rel="stylesheet" />
    <script src="~/Content/OperationManagement/OperationManagement.js"></script>
</head>
 <body>
	<div class="nav"></div>
 </body>
</html>
