@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>测试</title>

         @Scripts.Render("~/bundles/modernizr")
         @Scripts.Render("~/bundles/jquery")
       
        <script src="~/Content/JS/public.js"></script>
        <script src="~/Content/JS/public1.js"></script>
        <script src="~/Content/JS/hashtable.js"></script>    
        <script src="~/Content/JS/date.js"></script> 
        <script src="~/Content/JS/jquery.js"></script>
        <script src="~/Content/JS/jquery.cookie.js"></script>
        <script src="~/Content/JS/flexiManage.js"></script>
        <script src="~/Content/JS/lang.js"></script>
        <script src="~/Content/JS/lang_fun.js"></script>
        <script src="~/Content/JS/mapMarkManager.js"></script>
        <script src="~/Content/JS/myajax.js"></script>
        <script src="~/Content/JS/pageStyle.js"></script>
       
        <script src="~/Content/JS/userRole.js"></script>
        <script src="~/Content/JS/standardDevice.js"></script>
        <script src="~/Content/JS/standardStatus.js"></script>
        <script src="~/Content/JS/vehicleManager.js"></script>
        <script src="~/Content/JS/vehicleDevice.js"></script>
        <link href="~/Content/Main/Main.css" rel="stylesheet" />
        <link href="~/Content/Main/pageManagement.css" rel="stylesheet" />
        <link href="~/Content/Main/index1.css" rel="stylesheet" />
     <script src="~/Content/Main/Main.js"></script>
</head>
<body onresize="setPanelWidth();">
	<div id="main">
		<div id="main-topPanel" class="header show clearfix">
			<div class="header-title">
	             <div class="logo">
	                 <img id="logoImg" alt="">
	                 <span id="spanTitle"></span>
	             </div>
            </div>
			<div class="login-mess" style="display:none;">
				<div class="login-mess-account">
					<a class="down"><span class="account"></span><em class="arrows"></em></a>
					<a class="email" style="display:none;"><i></i></a>
					<a id="login-out" class="login-out"><span></span></a>
				</div>
				<div class="quick-menu">
					<p><a class="password"></a></p>
					<p id="perfectInfo" style="display:none;"><a class="perfectInfo"></a></p>
				</div>
			</div>
			<div id="rightTabs" class="nav-bar clearfix"></div>
		</div>
		<div id="mainPanel-all">
		</div>
	</div>
	<!-- 公告滚动条 -->
	<style>
		#coverWeather{position:fixed;top:3px;right: 10px;height:25px;width: 285px;z-index:2;background-color:white;opacity:0;filter: "alpha(opacity=0)";filter: alpha(opacity=0);zoom:1;}
		#weatherForecast{position:fixed;top:3px;right: 20px;height:15px;width: 285px;display:none;}
		#blackWeather{position:fixed;top:3px;right: 20px;height:15px;width: 285px;display:none;}
		.scrollmsg{position:fixed;top: 57px;right: 10px;height:15px;width: 300px;overflow: hidden;}
		.scrollmsg .scroll_content{position: absolute;left: 300px;overflow: hidden;white-space: nowrap;color: #fff;cursor: pointer;}
	</style>

	<div id="coverWeather"></div>
	<div id="blackWeather"><iframe width="280px" scrolling="no" height="18" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&icon=1&wind=0&num=1"></iframe></div>
	<div id="weatherForecast" ><iframe width="285px" scrolling="no" height="18"   frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&color=%23FFFFFF&icon=1&wind=1&num=1" ></iframe></div>

	<div class="scrollmsg"></div>
</body>
	<script>
	    $(document).ready(function () {
	        var GetHTML = location.href;
	        var IsChineseLanguage = GetHTML.indexOf("lang=zh");
	        if (IsChineseLanguage > 0) {
	            $('#weatherForecast').show();
	        }
	    })
	</script>

</html>
