@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>轨迹回放</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")  
    <script src="~/Content/asyncbox/AsyncBox.v1.4.5.js"></script>
    <link href="~/Content/asyncbox/skins/ZCMS/asyncbox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
      <script src="http://webapi.amap.com/maps?v=1.3&key=57311c86d4f84f67b2518854ab02ca88&plugin=AMap.Geocoder"></script>
    
<link href="~/Content/CSS/mobiscroll_002.css" rel="stylesheet" />
    <link href="~/Content/CSS/mobiscroll_003.css" rel="stylesheet" />
    <script src="~/Content/JS/jquery.js"></script>
    <script src="~/Content/JS/mobiscroll.js"></script>
    <script src="~/Content/JS/mobiscroll_002.js"></script>
    <script src="~/Content/JS/mobiscroll_003.js"></script>
    <script src="~/Content/JS/mobiscroll_004.js"></script>
    <script src="~/Content/JS/Monitoring.js"></script>
    <link href="~/Content/CSS/Monitoring.css" rel="stylesheet" />
    <link href="~/Content/CSS/swiper.min.css" rel="stylesheet" />
    <script src="~/Content/JS/swiper.jquery.min.js"></script>
  
         <style>
             html {
                 height: 100%;
                 margin: 0;
             }

             body {
                 margin: 0;
                 padding: 0;
                 min-height: 100%;
                 _height: 100%;
               
             }

             div {
                 margin: 0;
                 padding: 0;
               
             }
            
             p {text-indent: 1cm}
         </style>
      <script>
          //onload = function () {

          //    if (!localStorage["cphby"]) {
          //        window.location.href = "IndexLogin?" + $('#wxid').val();
          //    }
          //    else {
          //        window.location = $('#url').val() + "/#/map/plate=" + localStorage["cphby"] + "&token=" + $('#wxid').val() + "&vehid=" + localStorage["cphby"];
          //    }
          //}
            </script>
</head>
<body >

         <div class="swiper-container" id="myshow_swipe">
        <div class="swiper-wrapper">

            <div  class="swiper-slide" id="clgj">
                <div id="header" class="hder" >
            
                </div>
                <div id="cont">
                   
                    <ul class="shij">
                        <li class="first">今天</li>
                        <li class="last" >自定义</li>
                    </ul>
                    <div class="content" id="concon">
                        <div class="demos">
                            <label for="appDateTime">开始时间：</label>
                            <input placeholder="请选择开始时间" class="" readonly="readonly" name="appDateTime" id="appDateTime" type="text" >
                        </div>
                        <div class="demos">
                            <label for="Time">结束时间：</label>
                            <input placeholder="请选择结束时间" class="" readonly="readonly" name="appDateTime" id="Time" type="text" >
                        </div>
                        <span class="que" style="margin-left:30%;padding:5px 10px;background:#79C9EE;color:#fff;border-radius:5px;">确定</span>
                        <span class="bi" style="margin-left:10%;padding:5px 10px;background:#79C9EE;color:#fff;border-radius:5px;">关闭</span>

                    </div>
                </div>

            </div>


            <div  class="swiper-slide" id="xxx1">
                <!-- <div id="header" >
                   <img src="imgs/ic_left.png" class="back bbb"/> 
                   00000
                               </div>
                   <div id="map3"></div>-->
                  <!--<div id="container">
                   
                    <img src="imgs/ic_maptype2.png" class="qiuguan ggg"/> -->
                   
                  <!--  <div class="xianshi">
                       <ul>
                           <li>时间<span>--</span></li>
                           <li>速度<span>--</span></li>
                           <li>里程<span>--</span></li>
                       </ul> 
                       <tr>
                         <td>时间<span>dffddfsgdsfgdfsgdfsghdfshfg</span></td>
                         <td>时间<span>ffddfsgdsfgdfsgdfsghdfshfg</span></td>
                         <td>时间<span>ffddfsgdsfgdfsgdfsghdfshfg</span></td>
                       </tr>
                       
                   </div>-->
                  <!-- <div class="bobao" >
                       <img src="imgs/ic_play_slow.png" style="margin-left:20%;"/>
                       <img src="imgs/ic_play_play.png" style="margin-left:10%;"/>
                       <img src="imgs/ic_play_fast.png" style="margin-left:10%;"/>
                   </div> 
                               
                               
                 </div>-->  
            </div>


                



        </div>

           <p>
            <input type="text" id="wxid" class="input" style="display:none;" value="@ViewData["wxid"]" />     
            <input type="text" id="url" class="input" style="display:none;" value="@ViewData["url"]" />      
         </p>
        
    </div>  
       
   
</body>
</html>



